/*************************************************
            Sticky Footer
************************************************/
html, body {
    height:100%;
    font-size:12px;
    
}
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -200px;
    padding: 0 0 200px;
}
#footer {
    background:#000;
    height:250px;
}
a {
    color:#e74447;
}
a:hover {
    color:#a92427;
    text-decoration:none;
}
/* Common */
.label {
    font-size: 100%;
    padding-left:0;
}
/* Container */
.container .box-title {
    text-align:center;
    background-image: url(../images/title-border.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom:15px;
    text-transform: uppercase;
    font-weight:bold;
}

/* CAROUSEL */

.carousel .carousel-control, 
.carousel .carousel-indicators {
    opacity:0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.carousel:hover .carousel-control,
.carousel:hover .carousel-indicators {
    opacity:1;
}


/*************************************************
            top container #top-container
************************************************/
#top-container {
    background-color:#000;
    font-size:12px;
    max-height:50px;
}
#top-container .container {
    color:#FFF;
    height:50px;
}
#top-container a {
    color:#FFF;
    text-decoration:none;
    padding-left:10px;
}
#top-container .headlines, 
#top-container .right-section iframe {
    margin-top:15px;
}
#top-container .headline-label {
    padding-right:10px;
}
#top-container .headline-content {
    color:#f05f5f;
    display:block;
}
#top-container .headline-content .carousel-control .glyphicon {
    font-size:14px;
    padding-top:7px;
}
#top-container .right-section {
    width:100%;
}
#top-container .right-section
#top-container .search-place {
    position:absolute;
    width:150px;
    display:none;
    background: #727272;
    border: none;
    color: #000;
}
#top-container #search-place-submit {
    display:none;
}
#top-container .icon.facebook {
    background:url(../images/facebook-icon.png) no-repeat;
}
#top-container .icon {
    width: 32px;
    height: 32px;
    background-color: #595959;
    display: inline-block;
    position:relative;
    margin-right:5px;
    color: #FFF;
    top:9px;
}
#top-container .icon .glyphicon {
    font-size:14px;
    height:32px;
    margin-left:8px;
    position:absolute;
    top:7px
}

/*************************************************
            header container #header-container
************************************************/
#header-container .container {
    
}
#header-container .social {
    margin:10px;
    padding:0;
}
#header-container .social > li {
    display:inline-block;
    margin:0 3px;
}
#header-container .social > li > a {
    width:32px;
    height:32px;
    display:block;
    text-indent:-9999px;
   
}
#header-container .social > li > a.google {
     background: url(../images/google-plus.png) no-repeat;
}
#header-container .social > li > a.facebook {
     background: url(../images/facebook.png) no-repeat;
}
#header-container .social > li > a.twitter {
     background: url(../images/twitter.png) no-repeat;
}
#header-container .account-buttons {
    position:relative;
}
#header-container .account-buttons a {
    width:50px;
    height:50px;
    position:absolute;
    right: 20px;
    top:-40px;
    text-align:center;
    color: #6D6D6D;
}
#header-container .account-buttons a:first-child {
    right:85px;
}
#header-container .account-buttons .icon {
    background-color:#CCC;
    width:50px;
    height:50px;
    display:block;
    position:relative;
}
#header-container .account-buttons .icon .glyphicon {
    font-size:20px;
    height:50px;
    margin-top:10px;
}

#site-title {
    border:none;
}
#site-title a {
    background: url(../images/newlogo2.png) no-repeat;
    width:339px;
    height:140px;
    display:block;
    text-indent:-9999px;
    margin:0 auto;
}
#site-description {
    display:none;
}
#site-navigation .navbar {
    background-color:transparent;
    min-height:0;
}
#site-navigation .navbar.navbar-default .navbar-nav {
    text-align:center;
    float:initial;
}
#site-navigation .navbar.navbar-default .navbar-nav li {
    display:inline-block;
    float:initial;
}
#site-navigation .navbar.navbar-default .navbar-nav>li>a {
    color: #000;
    padding:0 15px;
    font-size: 14px;
    font-family: Arial;
    width: 110px;
    border-left:1px solid #000;
}
#site-navigation .navbar.navbar-default .navbar-nav>li:first-child>a {
     border-left:1px solid #FFF;
}
#site-navigation .navbar.navbar-default .navbar-nav>li>a:hover,
#site-navigation .navbar.navbar-default .navbar-nav>.active>a {
    background-color:#eeeeee;
}
#site-navigation .navbar.navbar-default .navbar-nav .dropdown-menu>li>a {
    padding: 2px 15px;
    color:#000;
}
#site-navigation .navbar.navbar-default .navbar-nav .dropdown-menu>li>a:hover {
    background-color:#eeeeee; 
}
#site-navigation .navbar.navbar-default .navbar-nav .dropdown-menu>.active>a {
    background-color:#eeeeee; 
}
#site-navigation .navbar-default .navbar-nav>.open>a, 
#site-navigation .navbar-default .navbar-nav>.open>a:hover, 
#site-navigation .navbar-default .navbar-nav>.open>a:focus,
#site-navigation .navbar-default .navbar-nav>li>a:hover, 
#site-navigation .navbar-default .navbar-nav>li>a:focus {
background-color: #eeeeee;
}
#site-navigation .navbar-default .dropdown-menu {
    background-color:  #eeeeee;
    
}

#sticky-nav-container {
    position:fixed;
    top:0;
    z-index:9999;
    background:#000;
    width:100%;
    height:45px;
    margin-top:-50px;
    box-shadow: 0 1px 10px #494949;
}
#sticky-nav-container .navbar.navbar-default .navbar-nav {
    text-align:center;
    float:initial;
}
#sticky-nav-container .navbar.navbar-default .navbar-nav li {
    display:inline-block;
    float:initial;
}
#sticky-nav-container .navbar-default {
    background:#000;
}
#sticky-nav-container .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #222222;
}
#site-navigation .navbar.navbar-default .navbar-nav>li.search-form>a {
    border-left: 1px solid transparent;
    padding:0;
    width:41px;
    height:35px;
    background-color:#CCC;
    position:absolute;
    margin-top:-22px;
    text-indent:-9999px;
    background: url(../images/search-button.jpg) no-repeat;
}
#site-navigation .navbar-default .search-form form {
    position:absolute;
}
#site-navigation #search-place-input {
    width:120px;
    margin-top:-21px;
    margin-left:40px;
    height:33px;
    padding: 6px;
}
#site-navigation #search-place-submit {
    display:none;
}
/*************************************************
            slider container #slider-container
************************************************/
#slider-container {
    background-color:#000;
}
#slider-container .container {
    
}
#slider-container .carousel .item {
    height:358px;
}

/*************************************************
            services container #services-container
************************************************/
#services-container {
    background-color:#FFF;
    padding:20px 0;
}
#services-container .container {
    width:970px;
}
#services-container .icons {
    margin-top:30px;
}
/*************************************************
            venue container #venue-container
************************************************/
#venue-container {
    background-color:#eeeeee;
    padding:20px 0;
}
#venue-container .thumbnail {
    width: 226px;
    height:189px;
    overflow:hidden;
    padding:0;
    border:0;
    background-color:transparent;
}

/*************************************************
            upcomingevent container #upcomingevent-container
************************************************/
#upcomingevent-container  {
    background-color:#481a5b;
    min-height:350px;
    background: url(../images/ucebg.png) repeat-x;
    position:relative;
    padding:20px 0;
}
#upcomingevent-container .box-title {
    color:#FFF;
}
#upcomingevent-container .item-box {
    background-color:#000;
    padding:0;
    disblay:block;
}
#upcomingevent-container .carousel-indicators {
    margin-bottom: -50px;
}
#upcomingevent-container .item-box .thumbnail {
    width: 204px;
    height:207px;
    overflow:hidden;
    padding:0;
    border:0;
    background-color:transparent;
    margin-bottom: 0;
}
#upcomingevent-container .item-box .details {
    margin-left:15px;
}
#upcomingevent-container .item-box .details h3 {
    color:#FFF;
}
/*************************************************
            main container #main-container
************************************************/
#main-container {
    background: url(../images/mainbg.jpg);
    min-height:400px;
    padding:20px 0;
}
#main-container .widget-area .widget-title {
    background: url(../images/widgetheaderbg.png) repeat-x;
    height:47px;
    padding:3px 15px;
    color:#FFF;
}
#page-container .widget-area .widget-title {
    background: url(../images/widgetheaderbg.png) repeat-x;
    height:47px;
    padding:3px 15px;
    color:#FFF;
}
.latest-news {
    list-style:none;
    margin:0;
    padding:0;
}
.latest-news li {
    padding: 20px 0;
    border-top:1px dotted #000;
    margin-bottom:10px;
}
.latest-news li:first-child {
    border-top:none;
}
.latest-news .comments {
     background: url(../images/comment-icon.jpg) no-repeat;
    height: 25px;
    display: block;
    float: left;
    padding-left: 30px;
}
/*************************************************
            partners container #partners-container
************************************************/
#partners-container {
    background-color:#FFF;
    padding:20px 0;
}
/*************************************************
            footer container #footer-container
************************************************/
#footer-container {
    min-height:200px;
}
#footer-container .footer.widget-area {
    color:#555;
}
#footer-container .footer.widget-area .widget-title {
    text-transform:uppercase;
    color:#FFF;
    font-size:14px;
}
#footer-container .footer.widget-area .form-control {
    margin-bottom:10px;
}
/*************************************************
            bottom container #bottom-container
************************************************/
#bottom-container {
    background-color:#000;
}
#bottom-container .container {
    border-top:1px solid #464646;
    min-height:50px;
}
#bottom-container .copyright {
    text-align:center;
    display:block;
    color:#FFF;
    margin-top:15px;
}

#backToTop {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ccc;
    background-color: rgba(0,0,0,0.2);
    padding: 12px 14px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    font-size:20px;
    color:#000;
    opacity:.5;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    display:none;
}
#backToTop:hover {
    background-color: rgba(0,0,0,0.5);
    opacity:.9;
}
/*************************************************
template
*************************************************/
.template > .bg, 
.template > .bg-header  {
    background-color:#000;
    overflow:hidden;
}

.template .box-header {
    background-color:#3d3d3d;
    padding:20px 0;
    display:block;
    margin:-50px auto 30px;
    float:initial;
    color:#FFF;
}

.template .box-header .text-center {
    padding: 0 20px;
}
.template .box-header .box-title {
    margin:0 0 10px 0;  
}

.template .pagination>li>a, 
.template .pagination>li>span {
    border-radius: 50px;
    background-color:#CCC;
    color:#000;
}
.template .pagination>li>span.current {
    background-color:#3d3d3d;
    color:#FFF;
}
.template .pagination>.active>a, 
.template .pagination>.active>span,
.template .pagination>li>a:hover {
    background-color:#3d3d3d;
    color:#FFF;
}

.template .breadcrumb {
    background-color: transparent;
    border:transparent;
}
.template .breadcrumb .active {
    color:#f04124;
}
#classifieds-container > .bg {
    background-image: url(../images/venue_header_bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
}
#classifieds-container .classified-list {
    margin-top:15px;
}
#classifieds-container .classified-list .panel {
    border-radius:3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    height:180px;
    position:relative;
}
#classifieds-container .classified-list .panel.panel-current {
    min-height:380px;
}
#classifieds-container .classified-list .panel > .panel-heading {
    color: #333333;
    border-color: transparent;
    text-align:left;
    padding: 15px 20px;
    position:relative;
}
#classifieds-container .classified-list .panel > .panel-heading > .arrow {
    width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #f5f5f5;
	position:absolute;
	bottom:-12px;
}
#classifieds-container .classified-list .panel.panel-0 > .panel-heading {
    background-color:#ff5757;
}
#classifieds-container .classified-list .panel.panel-0 > .panel-heading > .arrow {
    border-top-color:#ff5757;
}
#classifieds-container .classified-list .panel.panel-1 > .panel-heading {
    background-color:#a4ca3f;
}
#classifieds-container .classified-list .panel.panel-1 > .panel-heading > .arrow {
    border-top-color:#a4ca3f;
}
#classifieds-container .classified-list .panel.panel-2 > .panel-heading {
    background-color:#4cc7cc;
}
#classifieds-container .classified-list .panel.panel-2 > .panel-heading > .arrow {
    border-top-color:#4cc7cc;
}
#classifieds-container .classified-list .panel.panel-3 > .panel-heading {
    background-color:#f3a63a;
}
#classifieds-container .classified-list .panel.panel-3 > .panel-heading > .arrow {
    border-top-color:#f3a63a;
}
#classifieds-container .classified-list .panel.panel-4 > .panel-heading {
    background-color:#8f5af0;
}
#classifieds-container .classified-list .panel.panel-4 > .panel-heading > .arrow {
    border-top-color:#8f5af0;
}
#classifieds-container .classified-list .panel.panel-5 > .panel-heading {
    background-color:#cc4bbf;
}
#classifieds-container .classified-list .panel.panel-5 > .panel-heading > .arrow {
    border-top-color:#cc4bbf;
}
#classifieds-container .classified-list .panel.panel-6 > .panel-heading {
    background-color:#e2bb1e;
}
#classifieds-container .classified-list .panel.panel-6 > .panel-heading > .arrow {
    border-top-color:#e2bb1e;
}
#classifieds-container .classified-list .panel.panel-7 > .panel-heading {
    background-color:#6e8056;
}
#classifieds-container .classified-list .panel.panel-7 > .panel-heading > .arrow {
    border-top-color:#6e8056;
}
#classifieds-container .classified-list .panel.panel-8 > .panel-heading {
    background-color:#82a1a6;
}
#classifieds-container .classified-list .panel.panel-8 > .panel-heading > .arrow {
    border-top-color:#82a1a6;
}
#classifieds-container .classified-list .panel .panel-title {
    font-weight:bold;
    font-style:italic;
    font-size:20px;
}
#classifieds-container .classified-list .panel > .panel-body {
    text-align:center;
    font-size:12px;
}
#classifieds-container .classified-list .panel > .panel-footer {
    background-color: transparent;
    border-color: transparent;
    position:absolute;
    bottom:0;
    width:100%;
}
#classifieds-container .classified-list .panel > .panel-footer .btn-venue {
    background-color:#f4504f;
    width:60%;
    margin:0 auto;
    text-transform:uppercase;
    font-size:16px;
    padding: 10px 25px;
}
.classified-front .imgbox {
    margin:10px 10px 20px 10px;
    border:1px solid #e1e1e1;
    border-radius:5px;
}
.classified-front .imgbox a {
    display:block;
    height: 250px;
    text-indent:-9999px;
    background:url(../images/classified_header_bg.jpg);
}
.classified-front .imgbox a.bands {
    background:url(../images/news_header_bg.jpg);
}
.classified-front .imgbox a.dancers {
    background:url(../images/promotions_header_bg.jpg);
}
.classified-front .imgbox a.others {
    background:url(../images/venue_header_bg.jpg);
}

/* Events -list */
#events-container .events-list .item {
    background-color:#f3f3f3;
    margin-top:30px;
    box-shadow:0 0 10px #d6d6d6;
    padding:20px;
    position:relative;
}
#events-container .events-list .item .btn-show-details {
    position:absolute;
    bottom:20px;
    left:20px;
}

#events-container .events-list .row:first-child .item {
    margin-top:0;
    margin-bottom:20px;
}
#events-container > .bg {
    background-image: url(../images/event_header_bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
}
#events-container .events-list .item .panel {
    margin-bottom:0;
}
#events-container .events-list .item .panel,
#events-container .events-list .item .panel .panel-heading,
#events-container .events-list .item .panel .panel-footer
{
    border-color:transparent;
    background-color: transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    padding:5px;
}
#events-container .events-list .item .details .panel-heading {
    border-bottom:1px solid #000;
}
#events-container .events-list .item .details .panel-title {
    text-transform:uppercase;
    font-weight:bold;
}
#events-container .events-list .item .details .panel-body .label {
    color:#000;
    width:100px;
    display:inline-block;
    text-align:left;
}
#events-container .events-list .item .details .panel-footer .btn {
    position:relative;
    padding-right:45px;
}
#events-container .events-list .item .details .panel-footer .btn .glyphicon{
    font-size:20px;
    margin-left:12px;
    margin-top:4px;
    position:absolute;
}
#events-container .events-list .item .countdown .box {
    background-color: #8f8f8f;
    display:inline-block;
    font-size:50px;
    text-align:center;
    padding:10px 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    color:#FFF;
    margin-right:5px;
}
#events-container .events-list .item .countdown .box .label {
    display:block;
    font-size:20px;
}
#events-container .events-list .item .countdown .calendar-icon {
    font-size:20px;
    padding-right: 10px;
}
/* Venue -list */
#venues-container .venue-list .item {
    background-color:#f3f3f3;
    margin-top:20px;
    box-shadow:0 0 5px #d6d6d6;
    padding:15px;
    margin-bottom:20px;
}
#venues-container .venue-list .row:first-child .item {
    margin-top:0;
}
#venues-container > .bg {
    background-image: url(../images/event_header_bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
}
#venues-container .venue-list .item .panel {
    margin-bottom:0;
}
#venues-container .venue-list .item .panel,
#venues-container .venue-list .item .panel .panel-heading,
#venues-container .venue-list .item .panel .panel-footer
{
    border-color:transparent;
    background-color: transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}
#venues-container .venue-list .item .details .panel-heading {
    border-bottom:1px solid #000;
}
#venues-container .venue-list .item .details .panel-title {
    text-transform:uppercase;
    font-weight:bold;
}
#venues-container .venue-list .item .details .panel-body .label {
    color:#000;
    width:100px;
    display:inline-block;
    text-align:left;
}
#venues-container .venue-list .item .details .panel-body .rating {
    background-color:transparent!important;
    margin-left: 45px!important;
    margin-top: -20px!important;
    margin-bottom: 0!important;
    padding:0;
}
#venues-container .venue-list .item .details .panel-footer .btn {
    position:relative;
    padding-right:45px;
}
#venues-container .venue-list .item .details .panel-footer .btn .glyphicon{
    font-size:20px;
    margin-left:12px;
    margin-top:4px;
    position:absolute;
}
#venues-container .venue-list .item .thumbnail {
    padding:0;
    border:0;
    background-color:transparent;
    height: 150px;
    overflow:hidden;
    margin-bottom:0;
}
#venues-container .venue-list .item .thumbnail img {
    width:100%;
    
}
#venues-container .venue-list .item .details p {
    margin: 0 0 5.5px;
}
#venues-container .venue-list .item .details .panel-body {
    padding:0 15px;
}
#venues-container .venue-list .item .extra.details .panel-title {
    text-transform:uppercase;
    font-weight:normal;
}
#venues-container .venue-list .item .countdown .box {
    background-color: #8f8f8f;
    width: 100px;
    display:inline-block;
    font-size:50px;
    text-align:center;
    padding:10px 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    color:#FFF;
}
#venues-container .venue-list .item .countdown .box .label {
    display:block;
    font-size:20px;
}
#venues-container .venue-list .item .countdown .calendar-icon {
    font-size:30px;
    padding-right: 20px;
}
/* News List */
#news-container .news-list .item {
    padding:20px;
}
#news-container .news-list .item hr {
    margin:21px 0 0 0;
}
#news-container .news-list .row:first-child .item {
    margin-top:0;
}
#news-container > .bg {
    background-image: url(../images/news_header_bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
}
#news-container .news-list .item .panel {
    margin-bottom:0;
}
#news-container .news-list .item .panel,
#news-container .news-list .item .panel .panel-heading,
#news-container .news-list .item .panel .panel-footer
{
    border-color:transparent;
    background-color: transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}
#news-container .news-list .item .details .panel-heading {
    border-bottom:1px solid transparent;
}
#news-container .news-list .item .details .panel-title {
    text-transform:uppercase;
    font-weight:bold;
    margin-top:10px;
}

#news-container .news-list .item .details .panel-body .label {
    color:#000;
    width:150px;
    display:inline-block;
    text-align:left;
}
#news-container .news-list .item .details .panel-footer .btn {
    position:relative;
    padding-right:45px;
    float:right;
}
#news-container .news-list .item .details .panel-footer .btn .glyphicon{
    font-size:20px;
    margin-left:12px;
    margin-top:4px;
    position:absolute;
}

#news-container .news-list .item .details .panel-footer > .comments {
    background: url(../images/comment-icon.jpg) no-repeat;
    height: 25px;
    display: block;
    float: left;
    padding-left: 30px;
}

/* Promotions */
#promotions-container > .bg {
    background-image: url(../images/promotions_header_bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
}
#promotions-container .promo-image {
    margin-bottom:20px;
}
#promotions-container .promo-image .thumbnail {
    background:#000;
    overflow:hidden;
}
#promotions-container .promo-title {
    text-transform:uppercase;
}
#promotions-container #carousel-more-promo .thumbnail {
    overflow:hidden;
    background-color:transparent;
    padding:0;
    border:0;
}
#promotions-container #carousel-more-promo .thumbnail img {
    width:100%;
}
#promotions-container .gray-box {
    background-color:#313131;
    padding:15px;
    color:#FFF;
}
#promotions-container .gray-box p {
    border-bottom:1px dashed #4D4D4D;
}
#promotions-container .gray-box .label {
    width:80px;
    display:inline-block;
    text-align:left;
}
#more-promotions-container {
    margin-top:20px;
    background-color:#f1f1f1;
    padding: 20px 0;
}
#more-promotions-container h3 {
    margin:0 0 20px 0;
    text-transform:uppercase;
}
#more-promotions-container .carousel-control {
    top: 30%;
    width: 40px;
    height: 70px;
}
#more-promotions-container .carousel-control.left {
    left:-40px;
}
#more-promotions-container .carousel-control.right {
    right:-40px;
}
#more-promotions-container .carousel-control .icon-next, 
#more-promotions-container .carousel-control .glyphicon-chevron-right {
    right: 25%;
}
.promo-list .thumbnail {
        overflow: hidden;
        border:none;
        padding:0;
}   
.promo-list .thumbnail img {
    width:100%;
    height:100%;
}
/* Classified */
#classified-container > .bg {
    background-image: url(../images/classified_header_bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

/* Single */
.single {
    min-height:1000px;
}
.single .main-title {
       background-color:#3d3d3d;
       padding:20px 30px;
}
.single .main-title h3 {
    text-transform:uppercase;
    margin:0;
    color:#FFF;
    font-size:30px;
}
.single .breadcrumb {
       background-color:#FFF;
       border-color:transparent;
       margin-top:20px;
}
.single .post .post-title {
    color:#787377;
    font-size:25px;
    font-weight:bold;
    text-transform:uppercase;
}
.single .post .venue-details {
    background-color:#e1e1e1;
    width:100%;
    display:block;
    color:#000;
    margin-bottom:20px;
}
.single .post .venue-details .venue-title {
    padding: 15px;
}
.single .post .venue-details .thumbnail {
    background-color:#e1e1e1;
}
.single .post .venue-meta .label {
     color:#000;
    width:200px;
    display:inline-block;
    text-align:left;
}
.single .post .venue-meta .rating {
    background-color:transparent;
    margin-left: 165px!important;
    margin-top: -30px!important;
}
.single .post {
    margin-bottom:20px;
}
.single .post .venue-details .thumbnail {
    margin-bottom:0;
    padding:0;
    border:0;
    overflow:hidden;
    max-height:250px;
}
.single .post .venue-details .thumbnail .img-responsive {
    width:100%;
}
.single .post .venue-details .label {
    color:#000;
    width:100px;
    display:inline-block;
    text-align:left;
}
.single .post .venue-details .rating {
    background-color:transparent;
    margin-left: 65px!important;
    margin-top: -30px!important;
}
.single .post .venue-details .rating .whole .l,
.single .post .venue-details .rating .whole .r,
.single .post .venue-details .rating .half .l {
   background-color: #FC0;
}
.single .post .venue-details .rating .r{
    background: #ccc url(../images/pointy2.png) -12px 0;
}
.single .post .venue-details .rating .l {
    background: #ccc url(../images/pointy2.png) 0 0;
}
#venues-container .venue-list .item .details .panel-body .rating .r {
    background: #ccc url(../images/pointy3.png) -12px 0;
}
#venues-container .venue-list .item .details .panel-body .rating .l {
    background: #ccc url(../images/pointy3.png) 0 0;
}
.rating .whole .l,
.rating .whole .r,
.rating .half .l {
   background-color: #FC0!important;
}
.tab-content .tab-pane {
    margin-top:15px;
}
.single .post .tab-content .list .row {
    padding: 10px;
}
.single .post .tab-content .list .row.odd {
    background-color: #fafafa;
}
.single .post .tab-content .list .thumbnail {
    width: 100px;
    margin:0;
}
.single .prev-next-container {
    border: 1px solid #e1e1e1;
    margin-top:20px;
}
.single .prev-next-container a {
    color:#000;
    text-decoration:none;
    padding:15px;
    display:block;
    
}
.single .prev-next-container a:hover {
    background-color:#FAFAFA;
}
.single .prev-next-container .glyphicon {
    position:absolute;
    top:40px;
}
.single .prev-next-container .prev {
    border-right:1px solid #e1e1e1;
    text-align:center;
    position:relative;
    padding:0;
}
.single .prev-next-container .prev .glyphicon {
    left:20px;
}
.single .prev-next-container .next {
    border-left: 1px solid #e1e1e1;
    text-align:center;
    position:relative;
    padding:0;
}
.single .prev-next-container .next .glyphicon {
    right:20px;
}

.single #venue-reviews #comments h3.comments-title {
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin-top:0;
    margin-bottom:20px;
}
.single #venue-reviews #comments .comment-list {
    list-style:none;
    padding:0;
    margin:0 0 50px 0;
}
.single #venue-reviews #comments .comment .reply {
    display:none;
}
.single #venue-reviews #comments .comment.odd {
    background-color:#fafafa;
}
.single #venue-reviews #comments .comment {
    padding: 15px 15px 15px 115px;
    position:relative;
    min-height: 100px;
    margin-bottom: 15px;
    border:1px solid transparent;
}   
.single #venue-reviews #comments .comment:hover {
     background-color:#FFFCFC;
}   
.single #venue-reviews #comments .comment .comment-metadata {
    position:absolute;
    top:15px;
    right:15px;
    font-size:10px;
}
.single #venue-reviews #comments .comment .comment-content {
    margin-top:15px;
}
.single #venue-reviews #comments .comment .comment-author img {
    position:absolute;
    top:0;
    left:0;
}
.single #venue-reviews #comments .comment-respond .rating .rover .l, 
.single #venue-reviews #comments .comment-respond .rating .rover .r {
    background-color: #FC0;
}
.single #venue-reviews #comments .comment-respond input,
.single #venue-reviews #comments .comment-respond textarea {
    width:100%;
    display:block;
    border:1px solid #000;
}
.single #venue-reviews #comments .comment-respond input[type="submit"] {
    font-size:25px;
}
.single #venue-reviews #comments .comment-respond code {
    white-space: normal;
    font-size:10px;
}
#news-single-container .post .thumbnail {
    padding:0;
    border:0;
    max-height:300px;
    overflow:hidden;
}

.breadcrumb a {
    color:#CCC;
}
.breadcrumb>.active {
    color: #e74447;
}
