/* Responsive */
@media (max-width: 767px) { /* Extra-Small col-xs-* */
    
}

@media (min-width: 768px) and (max-width: 991px) { /* Small col-sm-* */

}

@media (min-width: 992px) and (max-width: 1199px) { /* Medium col-mg-* */

}

@media (min-width: 1200px) { /* Large col-lg-* */
    .container {
        width: 880px;
    }
    .template .box-header {
        width: 85%;
    }
    #top-container .headline-content {
        width:200px;
        margin-top: 3px;
    }
    .template > .bg, 
    .template > .bg-header {
        height: 200px;
    }
    .promo-list .thumbnail {
        height: 200px;
    }   
    #events-container .events-list .item .countdown .box {
        width: 62px;
        font-size: 34px;
    }
    #events-container .events-list .item .countdown .box .label {
        font-size: 14px;
        padding-left: 14px;
    }
    #slider-container .carousel .item {
        height:300px;
    }
    #services-container .icons img {
        width:70%;
    }
}
